/* * {
    border: 2px;
    border-style: solid;
    border-color: red;
} */

/* Main web app container */

.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Square and grids */

.etch-a-sketchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etch-a-sketch {
    height: 25rem;
    width: 35rem;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: grid;
}

.newGrid {
    border: .5px;
    border-style: solid;
    border-color: red;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 24px;
}

#currentColor {
    display: none;
}
